[req]
distinguished_name = req_distinguished_name
req_extensions     = v3_req
x509_extensions    = v3_req

[req_distinguished_name]
commonName       = ruby-opcua
emailAddress     = juergen.mangler@gmail.com
organizationName = ruby-opcua DEVS
localityName     = AT
countryName      = Austria

[v3_req]
# The extentions to add to a self-signed cert
subjectKeyIdentifier = hash
basicConstraints     = critical,CA:true
subjectAltName       = URI:ruby-opcua:client
keyUsage             = critical,digitalSignature,keyEncipherment
